version: "3.9"

services:
  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 2s
      retries: 5
      start_period: 5s
    networks:
      - backend

  db:
    image: postgres:15-alpine
    container_name: db
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d postgres || exit 1"]
      interval: 5s
      timeout: 2s
      retries: 5
      start_period: 10s
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - backend

  vote:
    build: ./vote
    container_name: vote
    depends_on:
      redis:
        condition: service_healthy
      db:
        condition: service_healthy
    ports:
      - "8080:80"
    networks:
      - frontend
      - backend
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://127.0.0.1:80/ || exit 1"]
      interval: 5s
      timeout: 2s
      retries: 10
      start_period: 15s

  result:
    build: ./result
    container_name: result
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8081:4000"
    networks:
      - frontend
      - backend
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://127.0.0.1:4000/ || exit 1"]
      interval: 5s
      timeout: 2s
      retries: 10
      start_period: 15s

  worker:
    build: ./worker
    container_name: worker
    depends_on:
      redis:
        condition: service_healthy
      db:
        condition: service_healthy
    networks:
      - backend

  seed-data:
    build: ./seed-data
    # do not set container_name so it can be re-run
    depends_on:
      db:
        condition: service_healthy
    networks:
      - backend
    environment:
      PGPASSWORD: postgres
    # use CMD from Dockerfile
    restart: "no"
volumes:
  postgres_data:

networks:
  frontend:
  backend:
